.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:4rem;
  line-height:1.2;
}

.timeline{
  display:flex;
  flex-direction:column;
  gap:80px;
  padding:100px;
}

.bloc{
  border-left:4px solid #00ffcc;
  padding-left:20px;
}

.skills{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.skills div{
  border:2px solid #00ffcc;
  padding:15px;
}

.projects{
  padding:100px;
}

.project{
  margin-bottom:40px;
}
